APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost

SESSION_NAME=billing_session

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=billing
DB_USER=root
DB_PASS=

# First admin account (created by database/install.php)
INITIAL_ADMIN_USERNAME=naga
INITIAL_ADMIN_PASSWORD=12345
INITIAL_ADMIN_NAME=Naga
